# # Bigmart Sales
 The data scientists at BigMart have collected 2013 sales data for 1559 products across 10 stores in different cities. Also, certain attributes of each product and store have been defined. The aim is to build a predictive model and find out the sales of each product at a particular store.

 Using this model, BigMart will try to understand the properties of products and stores which play a key role in increasing sales.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
#import train and test csv files
bigmarttarain = pd.read_csv("bigmart_train1.csv")
bigmarttest = pd.read_csv("bigmart_test1.csv")

In [4]:
# read train and test data
bigmarttarain.head(2)
bigmarttest.head(2)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.75,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.30,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1

In [5]:
#read datatypes of train and test data set
print(bigmarttarain.dtypes)
print(bigmarttest.dtypes)

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object
Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
dtype: object

In [6]:
# print shape of train and test data
print(bigmarttarain.shape)    # train dataset inculeds 8523 rows and 12 columns
print(bigmarttest.shape)      # test dataset inculeds 5681 rows and 11 columns

(8523, 12)
(5681, 11)

In [7]:
# find missing values in train and test data set
bigmarttarain.isnull().sum().sort_values(ascending = False)
# Outlet_Size and Item_Weight has missing values

Outlet_Size                  2410
Item_Weight                  1463
Item_Outlet_Sales               0
Outlet_Type                     0
Outlet_Location_Type            0
Outlet_Establishment_Year       0
Outlet_Identifier               0
Item_MRP                        0
Item_Type                       0
Item_Visibility                 0
Item_Fat_Content                0
Item_Identifier                 0
dtype: int64

In [8]:
bigmarttest.isnull().sum().sort_values(ascending = False)
# Outlet_Size and Item_Weight has missing values

Outlet_Size                  1606
Item_Weight                   976
Outlet_Type                     0
Outlet_Location_Type            0
Outlet_Establishment_Year       0
Outlet_Identifier               0
Item_MRP                        0
Item_Type                       0
Item_Visibility                 0
Item_Fat_Content                0
Item_Identifier                 0
dtype: int64

In [9]:
# Item_Weight is numeric
#Outlet_Size is object

In [10]:
# Drop dependent variable from Train Dataset
bigmarttarain1 = bigmarttarain.drop('Item_Outlet_Sales', axis = 1)

In [11]:
print(bigmarttarain1.shape)

(8523, 11)

In [12]:
# merge train and test data for further processing
# Create Identifier Column 'Type' to seperate data back to train & test
bigmarttarain1['Type'] = 'Train'
bigmarttest['Type'] ='Test'

In [13]:
# now both of the dataset have 1 more column Type and values inside it are Train and Test 
# Concat dataset now
combineddata = pd.concat([bigmarttarain1,bigmarttest], axis = 0)

In [14]:
print(combineddata.shape)

(14204, 12)

In [15]:
combineddata.isnull().sum().sort_values(ascending = False)

Outlet_Size                  4016
Item_Weight                  2439
Type                            0
Outlet_Type                     0
Outlet_Location_Type            0
Outlet_Establishment_Year       0
Outlet_Identifier               0
Item_MRP                        0
Item_Type                       0
Item_Visibility                 0
Item_Fat_Content                0
Item_Identifier                 0
dtype: int64

In [16]:
# print % of missing values in Outlet_Size and Item_Weight
print(4016*100/14204) #Outlet_Size  has 28.28% missing values
print(2439*100/14204) #Item_Weight  has 17.28% missing values

28.273725711067303
17.171219374823995

In [17]:
# now devide the data in numeric datatype and object datatype
numericdata = combineddata.select_dtypes(include = np.number)
objectdata =  combineddata.select_dtypes(include = np.object)

In [18]:
print(numericdata.shape)
print(objectdata.shape)

(14204, 4)
(14204, 8)

In [19]:
numericdata.head(5)

   Item_Weight  Item_Visibility  Item_MRP  Outlet_Establishment_Year
0         9.30         0.016047  249.8092                       1999
1         5.92         0.019278   48.2692                       2009
2        17.50         0.016760  141.6180                       1999
3        19.20         0.000000  182.0950                       1998
4         8.93         0.000000   53.8614                       1987

In [20]:
objectdata.head(5)

,Item_Identifier,Item_Fat_Content,Item_Type,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Type
0,FDA15,Low Fat,Dairy,OUT049,Medium,Tier 1,Supermarket Type1,Train
1,DRC01,Regular,Soft Drinks,OUT018,Medium,Tier 3,Supermarket Type2,Train
2,FDN15,Low Fat,Meat,OUT049,Medium,Tier 1,Supermarket Type1,Train
3,FDX07,Regular,Fruits and Vegetables,OUT010,NaN,Tier 3,Grocery Store,Train
4,NCD19,Low Fat,Household,OUT013,High,Tier 3,Supermarket Type1,Train

In [21]:
objectdata.describe()

,Item_Identifier,Item_Fat_Content,Item_Type,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Type
count,14204,14204,14204,14204,10188,14204,14204,14204
unique,1559,5,16,10,3,3,4,2
top,FDW03,Low Fat,Fruits and Vegetables,OUT027,Medium,Tier 3,Supermarket Type1,Train
freq,10,8485,2013,1559,4655,5583,9294,8523

In [22]:
numericdata.describe()

        Item_Weight  Item_Visibility      Item_MRP  Outlet_Establishment_Year
count  11765.000000     14204.000000  14204.000000               14204.000000
mean      12.792854         0.065953    141.004977                1997.830681
std        4.652502         0.051459     62.086938                   8.371664
min        4.555000         0.000000     31.290000                1985.000000
25%        8.710000         0.027036     94.012000                1987.000000
50%       12.600000         0.054021    142.247000                1999.000000
75%       16.750000         0.094037    185.855600                2004.000000
max       21.350000         0.328391    266.888400                2009.000000

#### Item_weight has less values and mean and median score is approx same so we can impute mean to Item_Weight to fill missing values
####  Minimum value for Item_Visibility is 0 which is not at all possible for any data item
####  Outlet_Establishment_Year is showing years as min and max but it is expected to calculate the age of Outlet_Store 
#### We can make it by adding Age column = Age= current year - Outlet_Establishment_Year

In [36]:
# use SimpleImputer method from sklearn library
from sklearn.impute import SimpleImputer

In [37]:
SI = SimpleImputer(missing_values = np.nan, strategy = 'median')

In [38]:
numericdatadf =  SI.fit_transform(numericdata)

In [39]:
numlabels = numericdata.columns

In [40]:
numericdatadf = pd.DataFrame(numericdatadf, columns = numlabels)

In [41]:
numericdatadf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14204 entries, 0 to 14203
Data columns (total 4 columns):
Item_Weight                  14204 non-null float64
Item_Visibility              14204 non-null float64
Item_MRP                     14204 non-null float64
Outlet_Establishment_Year    14204 non-null float64
dtypes: float64(4)
memory usage: 444.0 KB

In [55]:
# now look at Item_visibility and work on  visibility 
# check out for zero visibility
zerovisibility = numericdatadf[numericdatadf.Item_Visibility == 0]

In [56]:
print(zerovisibility.shape) # 879 values are showing null here

(879, 4)

In [57]:
# Impute the null with median()
numericdatadf.Item_Visibility = numericdatadf.Item_Visibility.replace(0, numericdatadf.Item_Visibility.median())

In [58]:
numericdatadf.describe()

        Item_Weight  Item_Visibility      Item_MRP  Outlet_Establishment_Year
count  14204.000000     14204.000000  14204.000000               14204.000000
mean      12.759739         0.069296    141.004977                1997.830681
std        4.234851         0.048749     62.086938                   8.371664
min        4.555000         0.003575     31.290000                1985.000000
25%        9.300000         0.033143     94.012000                1987.000000
50%       12.600000         0.054023    142.247000                1999.000000
75%       16.000000         0.094037    185.855600                2004.000000
max       21.350000         0.328391    266.888400                2009.000000

In [59]:
# Now calculate the age of Outlet by using Outlet_Establishment_Year
numericdatadf['Outlet_Age'] = 2020 - numericdatadf.Outlet_Establishment_Year

In [60]:
numericdatadf.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Outlet_Age
count,14204.000000,14204.000000,14204.000000,14204.000000,14204.000000
mean,12.759739,0.069296,141.004977,1997.830681,22.169319
std,4.234851,0.048749,62.086938,8.371664,8.371664
min,4.555000,0.003575,31.290000,1985.000000,11.000000
25%,9.300000,0.033143,94.012000,1987.000000,16.000000
50%,12.600000,0.054023,142.247000,1999.000000,21.000000
75%,16.000000,0.094037,185.855600,2004.000000,33.000000
max,21.350000,0.328391,266.888400,2009.000000,35.000000

In [61]:
numericdatadf.columns # There is no need to keep  'Outlet_Establishment_Year'

Index(['Item_Weight', 'Item_Visibility', 'Item_MRP',
       'Outlet_Establishment_Year', 'Outlet_Age'],
      dtype='object')

In [62]:
numericdatadf = numericdatadf.drop('Outlet_Establishment_Year', axis = 1)

In [63]:
numericdatadf.columns

Index(['Item_Weight', 'Item_Visibility', 'Item_MRP', 'Outlet_Age'], dtype='object')

### Now work on Objectdata

In [64]:
objectdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14204 entries, 0 to 5680
Data columns (total 8 columns):
Item_Identifier         14204 non-null object
Item_Fat_Content        14204 non-null object
Item_Type               14204 non-null object
Outlet_Identifier       14204 non-null object
Outlet_Size             10188 non-null object
Outlet_Location_Type    14204 non-null object
Outlet_Type             14204 non-null object
Type                    14204 non-null object
dtypes: object(8)
memory usage: 998.7+ KB

In [75]:
#Outlet_Size has missing values 
objectdata.Outlet_Size.unique()

array(['Medium', nan, 'High', 'Small'], dtype=object)

In [76]:
objectdata.Outlet_Size.isnull().sum()  # 4016 values are null

4016

In [77]:
objectdatadf = objectdata.fillna('unknown')

In [78]:
objectdatadf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14204 entries, 0 to 5680
Data columns (total 8 columns):
Item_Identifier         14204 non-null object
Item_Fat_Content        14204 non-null object
Item_Type               14204 non-null object
Outlet_Identifier       14204 non-null object
Outlet_Size             14204 non-null object
Outlet_Location_Type    14204 non-null object
Outlet_Type             14204 non-null object
Type                    14204 non-null object
dtypes: object(8)
memory usage: 998.7+ KB

In [79]:
objectdatadf.Item_Identifier .head(10) # we can see a unique pattern here FD - for foor, DR - Drink , NC- nonconsumable

0    FDA15
1    DRC01
2    FDN15
3    FDX07
4    NCD19
5    FDP36
6    FDO10
7    FDP10
8    FDH17
9    FDU28
Name: Item_Identifier, dtype: object

In [80]:
# add code column in objectdatatypedf
objectdatadf['code'] = objectdatadf.Item_Identifier.apply(lambda x:x[0:2])

In [82]:
objectdatadf.code.value_counts()

FD    10201
NC     2686
DR     1317
Name: code, dtype: int64

In [83]:
# Check Whether the classes in Object Columns are duplicate
# Check using value_counts()
objectdatadf.columns

Index(['Item_Identifier', 'Item_Fat_Content', 'Item_Type', 'Outlet_Identifier',
       'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type', 'Type', 'code'],
      dtype='object')

In [88]:
frequcol = ['Item_Fat_Content','Item_Type', 'Outlet_Identifier', 'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type']

In [89]:
for col in frequcol:
    frequency = pd.value_counts(objectdatadf[col]) 
    print(frequency)

Low Fat    8485
Regular    4824
LF          522
reg         195
low fat     178
Name: Item_Fat_Content, dtype: int64
Fruits and Vegetables    2013
Snack Foods              1989
Household                1548
Frozen Foods             1426
Dairy                    1136
Baking Goods             1086
Canned                   1084
Health and Hygiene        858
Meat                      736
Soft Drinks               726
Breads                    416
Hard Drinks               362
Others                    280
Starchy Foods             269
Breakfast                 186
Seafood                    89
Name: Item_Type, dtype: int64
OUT027    1559
OUT013    1553
OUT035    1550
OUT049    1550
OUT046    1550
OUT045    1548
OUT018    1546
OUT017    1543
OUT010     925
OUT019     880
Name: Outlet_Identifier, dtype: int64
Medium     4655
unknown    4016
Small      3980
High       1553
Name: Outlet_Size, dtype: int64
Tier 3    5583
Tier 2    4641
Tier 1    3980
Name: Outlet_Location_Type, dtype: int64
Supermarket Type1    9294
Grocery Store        1805
Supermarket Type3    1559
Supermarket Type2    1546
Name: Outlet_Type, dtype: int64

In [91]:
# correct repeatition of classes in Item_Fat_Content
objectdatadf['Item_Fat_Content'] = objectdatadf['Item_Fat_Content'].replace('reg', 'Regular')

In [92]:
objectdatadf['Item_Fat_Content'] = objectdatadf['Item_Fat_Content'].replace(['low fat', 'LF'], 'Low Fat')

In [94]:
objectdatadf['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular'], dtype=object)

In [95]:
objectdatadf.columns

Index(['Item_Identifier', 'Item_Fat_Content', 'Item_Type', 'Outlet_Identifier',
       'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type', 'Type', 'code'],
      dtype='object')

In [96]:
objectdatadf.Outlet_Identifier.head()  # nothing to do with this column

0    OUT049
1    OUT018
2    OUT049
3    OUT010
4    OUT013
Name: Outlet_Identifier, dtype: object

In [97]:
# now go for LabelEncoding
objectdummy = pd.get_dummies(objectdatadf,columns = ['Item_Fat_Content','Outlet_Size','Outlet_Location_Type', 'Outlet_Type', 'code'])

In [101]:
objectdummy.head()

,Item_Identifier,Item_Type,Outlet_Identifier,Type,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Size_unknown,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,code_DR,code_FD,code_NC
0,FDA15,Dairy,OUT049,Train,1,0,0,1,0,0,1,0,0,0,1,0,0,0,1,0
1,DRC01,Soft Drinks,OUT018,Train,0,1,0,1,0,0,0,0,1,0,0,1,0,1,0,0
2,FDN15,Meat,OUT049,Train,1,0,0,1,0,0,1,0,0,0,1,0,0,0,1,0
3,FDX07,Fruits and Vegetables,OUT010,Train,0,1,0,0,0,1,0,0,1,1,0,0,0,0,1,0
4,NCD19,Household,OUT013,Train,1,0,1,0,0,0,0,0,1,0,1,0,0,0,0,1

In [102]:
objectdummy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14204 entries, 0 to 5680
Data columns (total 20 columns):
Item_Identifier                  14204 non-null object
Item_Type                        14204 non-null object
Outlet_Identifier                14204 non-null object
Type                             14204 non-null object
Item_Fat_Content_Low Fat         14204 non-null uint8
Item_Fat_Content_Regular         14204 non-null uint8
Outlet_Size_High                 14204 non-null uint8
Outlet_Size_Medium               14204 non-null uint8
Outlet_Size_Small                14204 non-null uint8
Outlet_Size_unknown              14204 non-null uint8
Outlet_Location_Type_Tier 1      14204 non-null uint8
Outlet_Location_Type_Tier 2      14204 non-null uint8
Outlet_Location_Type_Tier 3      14204 non-null uint8
Outlet_Type_Grocery Store        14204 non-null uint8
Outlet_Type_Supermarket Type1    14204 non-null uint8
Outlet_Type_Supermarket Type2    14204 non-null uint8
Outlet_Type_Supermarket Type3    14204 non-null uint8
code_DR                          14204 non-null uint8
code_FD                          14204 non-null uint8
code_NC                          14204 non-null uint8
dtypes: object(4), uint8(16)
memory usage: 776.8+ KB

In [103]:
objectdummy = objectdummy.drop(['Item_Identifier','Item_Type', 'Outlet_Identifier'], axis = 1)

In [104]:
# reset index for numeric and object data
numericdatadf.reset_index(drop = True, inplace = True)
objectdummy.reset_index(drop = True, inplace = True)

In [105]:
# mergecolumns
cleaneddata = pd.concat([numericdatadf,objectdummy], axis = 1)

In [106]:
cleaneddata.shape

(14204, 21)

In [107]:
cleaneddata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14204 entries, 0 to 14203
Data columns (total 21 columns):
Item_Weight                      14204 non-null float64
Item_Visibility                  14204 non-null float64
Item_MRP                         14204 non-null float64
Outlet_Age                       14204 non-null float64
Type                             14204 non-null object
Item_Fat_Content_Low Fat         14204 non-null uint8
Item_Fat_Content_Regular         14204 non-null uint8
Outlet_Size_High                 14204 non-null uint8
Outlet_Size_Medium               14204 non-null uint8
Outlet_Size_Small                14204 non-null uint8
Outlet_Size_unknown              14204 non-null uint8
Outlet_Location_Type_Tier 1      14204 non-null uint8
Outlet_Location_Type_Tier 2      14204 non-null uint8
Outlet_Location_Type_Tier 3      14204 non-null uint8
Outlet_Type_Grocery Store        14204 non-null uint8
Outlet_Type_Supermarket Type1    14204 non-null uint8
Outlet_Type_Supermarket Type2    14204 non-null uint8
Outlet_Type_Supermarket Type3    14204 non-null uint8
code_DR                          14204 non-null uint8
code_FD                          14204 non-null uint8
code_NC                          14204 non-null uint8
dtypes: float64(4), object(1), uint8(16)
memory usage: 776.9+ KB

In [110]:
# now devide train and test data by using 'Type' column
bigmarttraindf = cleaneddata[cleaneddata.Type == 'Train']
bigmarttestdf = cleaneddata[cleaneddata.Type == 'Test']

In [112]:
print(bigmarttraindf.shape)
print(bigmarttestdf.shape)

(8523, 21)
(5681, 21)

In [114]:
bigmarttraindf=bigmarttraindf.drop('Type', axis = 1)
bigmarttestdf=bigmarttestdf.drop('Type', axis = 1)

In [116]:
# Add Dependent Variable Back to Train dataset
bigmarttraindf['Item_Outlet_Sales'] = bigmarttarain.Item_Outlet_Sales

In [117]:
bigmarttraindf.columns

Index(['Item_Weight', 'Item_Visibility', 'Item_MRP', 'Outlet_Age',
       'Item_Fat_Content_Low Fat', 'Item_Fat_Content_Regular',
       'Outlet_Size_High', 'Outlet_Size_Medium', 'Outlet_Size_Small',
       'Outlet_Size_unknown', 'Outlet_Location_Type_Tier 1',
       'Outlet_Location_Type_Tier 2', 'Outlet_Location_Type_Tier 3',
       'Outlet_Type_Grocery Store', 'Outlet_Type_Supermarket Type1',
       'Outlet_Type_Supermarket Type2', 'Outlet_Type_Supermarket Type3',
       'code_DR', 'code_FD', 'code_NC', 'Item_Outlet_Sales'],
      dtype='object')

In [ ]:
#Management want to know whether Low Fat or Regular items are equally important or not?